table {
  border: 2px solid black;
  margin: auto;
}

.formField {
  padding: 10px;
}

.tablePadding {
  padding-right: 9rem;
}

.iconPadding {
  padding-right: 3rem;
}

.buttonHolder {
  width: 50%;
  margin: auto;
  padding-top: 2rem;
}


.flexBox {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.flexBox .flexItem {
  flex: 1;
  display: contents;
  align-self: center;
}

.modal {
  background-color: solid white;
  border: 1px solid black;
  width: 40%;
  margin: auto;
  height: 70%;
}