.home {
  padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
}

.center {
  margin: auto;
}

.formField {
  padding-top: 1rem;
}

table {
  border: 2px solid black;
  margin: auto;
}

th {
  padding-right: 9rem;
}

